mcd-small.dtd

<!ELEMENT schema (entity*, relation*)>
<!ELEMENT entity (name, attribute+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT attribute (#PCDATA)>
<!ATTLIST attribute primary (true) #IMPLIED>

<!ELEMENT relation (name, relattr*)>
<!ATTLIST relation
    from CDATA #REQUIRED
    to CDATA #REQUIRED
    from-cardinality CDATA #REQUIRED
    to-cardinality CDATA #REQUIRED>
<!ELEMENT relattr (#PCDATA)>
